* {
  font-family: Calibri;
}


:root {
  --viewport-width: 1200px;
  --viewport-height: 800px;
}


canvas {
  width: var(--viewport-width);
  height: var(--viewport-height);
  box-sizing: content-box;
  min-width: var(--viewport-width);
  background-color: black;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: var(--viewport-width) 1fr;
  grid-template-rows: 1fr;
  grid-gap: 16px;
}

label {
  padding-right: 16px;
  width: 60px;
  display: inline-block;
}

small {
  display: inline-block;
  width: 16px;
  font-size: 10px;
}
